@import url('https://fonts.cdnfonts.com/css/broken-console');
@import url('https://fonts.cdnfonts.com/css/04b30');
@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
    color: #40128B;
    font-family: 'Montserrat';
}

body {
    background-color: #f6faff;
}

.main-font {
    color: #40128B;
    font-family: '04b', sans-serif;
}

.secondary-font{
    color: #40128B;
    font-family: "Broken Console", sans-serif;
}

.bg-footer{
    background-color: #40128B;
}

.btn-outline-primary{
    border-color: #40128B;
    color: #40128B;
}

.btn-outline-primary:hover{
    background-color: #40128B;
    color: white;
    border-color: #40128B;
}

.accordion-wrapper .card-header button{
    color: #40128B;
}

.accordion-wrapper .card-header button:hover {
    color: #40128B;
}

.accordion-wrapper .card-header button.collapsed {
    color: #40128B;
}

.img-change-sfd{
    width: 20rem;
    animation: change-sfd 10s infinite ease-in-out;
}

.img-change-ad{
    width: 20rem;
    animation: change-ad 10s infinite ease-in-out;
}

.img-change-bph{
    width: 20rem;
    animation: change-bph 10s infinite ease-in-out;
}

.img-change-itd{
    width: 20rem;
    animation: change-itd 10s infinite ease-in-out;
}

@keyframes change-sfd{
    0%
    {
        content: url("/assets/mob-assets/jeriko1.png");
    }
    50%
    {
        content: url("/assets/mob-assets/jeriko2.png");
    }
}

@keyframes change-ad{
    0%
    {
        content: url("/assets/mob-assets/fenny.png");
    }
    50%
    {
        content: url("/assets/mob-assets/christin.png");
    }
}

@keyframes change-bph{
    0%
    {
        content: url("/assets/mob-assets/dodot.png");
    }
    50%
    {
        content: url("/assets/mob-assets/ariel.jpg");
    }
}

@keyframes change-itd{
    0%
    {
        content: url("/assets/mob-assets/roni1.jpg");
    }
    50%
    {
        content: url("/assets/mob-assets/roni2.png");
    }
}